.custom-font {
    font-size: 15px;
    color: #1313139e;
    padding-right: 15px;
    cursor: pointer;
}

.btn-bs-file {
    position: relative;
}

    .btn-bs-file input[type="file"] {
        position: absolute;
        top: -9999999;
        filter: alpha(opacity=0);
        opacity: 0;
        width: 0;
        height: 0;
        outline: none;
        cursor: inherit;
    }
